/**
 * Add the code below to configure tabs height
 */
:root {
  --tab-min-height: 38px !important;
}
#TabsToolbar {
  height: var(--tab-min-height) !important;
}
#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
  height: var(--tab-min-height) !important;
}
